@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #fafafa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
@keyframes float {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  25% {
    transform: translate(12px, -18px) rotate(90deg);
  }

  50% {
    transform: translate(0px, -30px) rotate(180deg);
  }

  75% {
    transform: translate(-12px, -18px) rotate(270deg);
  }

  100% {
    transform: translate(0px, 0px) rotate(360deg);
  }
}